<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span>
  <%= link_to "view my profile", current_user %>
</span>
<span>
  <%= pluralize(current_user.microposts.count, "microposts") %>
</span>

<!--
note: current_user method is located in sessions helper
  it is a long method, but it does what you think it would
  aka verify the user/that they are authenticated/activated and then set @user == current user
  
-->